@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Silkscreen&display=swap');

.pixelated{
  font-family: 'Silkscreen';
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.line{
  font-family: 'Quicksand';
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.linetwo{
  font-family: 'Quicksand';
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.linethree{
  font-family: 'Quicksand';
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.line,.linetwo,.linethree{
  color: blue;
}

img src{
  display: flex;
  justify-content: center;
}

div>p{
  margin-left: 200px;
}

p:hover {
  background-color: yellow;
}
